* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
main {
  overflow-x: hidden;
}
nav li,
#mobileMenu li {
  list-style: none;
}
nav li a,
#mobileMenu li a {
  text-decoration: none;
  color: #1c2136;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
}
#mobileMenuButton {
  background-color: white;
  padding: 3px;
  border-radius: 25%;
}
#mobileMenu button {
  color: #1c2136;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
  border: 2px solid #1c2136;
  padding: 1px 7px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: fixed;
  top: 25px;
  right: 25px;
}
.logo {
  color: #1c2136;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  font-weight: bold;
  font-size: calc(3 * 0.4rem);
}
#main-background {
  background: url('../images/firstSectionBg.jpg') center center no-repeat;
  background-size: cover;
}
#main-vector {
  background: url('../images/main-section.jpg') center center no-repeat;
}
#home-section,
#profiles-section {
  color: #1c2136;
}
#about-us-section,
#contact-section {
  background-image: linear-gradient(#1c2136, #425083, #1c2136);
  color: white;
}
main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
}

#main-section-image {
  position: relative;
  animation: comeIn 2s;
  animation-iteration-count: 1;
}
#main-title {
  position: relative;
  opacity: 0;
  animation: comeIn 3s forwards;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}
#main-text-1 {
  position: relative;
  opacity: 0;
  animation: comeIn 3s forwards;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
#main-text-2 {
  position: relative;
  opacity: 0;
  animation: comeIn 3s forwards;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
}
#main-text-3 {
  position: relative;
  opacity: 0;
  animation: comeIn 3s forwards;
  animation-delay: 3s;
}
.animation-slideUpFromRight {
  display: flex !important;
  animation: slideFromRight 0.5s forwards;
}
.animation-hideDownToRight {
  animation: hideDownToRight 0.5s forwards;
}
@keyframes comeIn {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slideFromRight {
  from {
    left: 100vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes hideDownToRight {
  from {
    left: 0vw;
    display: flex !important;
  }
  to {
    left: 100vw;
    display: none;
  }
}
