.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-start;
}
.gap-4 {
  gap: calc(4 * 0.4rem);
}
.gap-8 {
  gap: calc(8 * 0.4rem);
}
.gap-16 {
  gap: calc(16 * 0.4rem);
}
.hidden {
  display: none;
}
.w-1\/12 {
  width: 8%;
}
.w-2\/12 {
  width: 17%;
}
.w-3\/12 {
  width: 25%;
}
.w-4\/12 {
  width: 33%;
}
.w-5\/12 {
  width: 42%;
}
.w-6\/12 {
  width: 50%;
}
.w-7\/12 {
  width: 58%;
}
.w-8\/12 {
  width: 67%;
}
.w-9\/12 {
  width: 75%;
}
.w-10\/12 {
  width: 83%;
}
.w-11\/12 {
  width: 92%;
}
.w-full {
  width: 100%;
}
.min-h-full {
  min-height: 100vh;
}
.max-h-full {
  max-height: 100vh;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.backdrop {
  background-color: rgba(17, 17, 186, 0.6);
}
.text-white {
  color: #90e0ef;
}
.text-black {
  color: #000;
}
.font-bold {
  font-weight: bold;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.mt-2 {
  margin-top: calc(2 * 0.4rem);
}
.mt-4 {
  margin-top: calc(4 * 0.4rem);
}
.mt-8 {
  margin-top: calc(8 * 0.4rem);
}
.mt-12 {
  margin-top: calc(12 * 0.4rem);
}
.mt-24 {
  margin-top: calc(24 * 0.4rem);
}
.mb-2 {
  margin-bottom: calc(2 * 0.4rem);
}
.mb-4 {
  margin-bottom: calc(4 * 0.4rem);
}
.mb-8 {
  margin-bottom: calc(8 * 0.4rem);
}
.font-2 {
  font-size: calc(2 * 0.4rem);
}
.font-3 {
  font-size: calc(3 * 0.4rem);
}
.font-4 {
  font-size: calc(4 * 0.4rem);
}
.font-6 {
  font-size: calc(6 * 0.4rem);
}
.no-list {
  list-style: none;
}
.rotate-15-l {
  transform: rotate(15deg);
}
.rotate-15-r {
  transform: rotate(-15deg);
}
.rotate-20-l {
  transform: rotate(20deg);
}
.rotate-20-r {
  transform: rotate(-20deg);
}
.rotate-45-l {
  transform: rotate(45deg);
}
.rotate-45-r {
  transform: rotate(-45deg);
}
.pointer {
  cursor: pointer;
}
.bg-white {
  background-color: white;
}
@media screen and (max-width: 450px) {
  .sm\:hidden {
    display: none;
  }
  .sm\:flex {
    display: flex;
  }
}
@media screen and (max-width: 900px) {
  .wrap-on-mobile {
    flex-direction: column-reverse;
  }
  .md\:w-10\/12 {
    width: 83%;
  }
  .md\:w-11\/12 {
    width: 92%;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:justify-center {
    justify-content: center;
  }
  .md\:gap-0 {
    gap: 0;
  }
  .md\:gap-8 {
    gap: calc(8 * 0.4rem);
  }
  .md\:text-center {
    text-align: center;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:mt-12 {
    margin-top: calc(12 * 0.4rem);
  }
  .md\:max-h-none {
    max-height: none;
  }
  .md\:no-list {
    list-style: none;
  }
  .md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .md\:pt-12 {
    padding-top: calc(12 * 0.4rem);
  }
  .md\:font-3 {
    font-size: calc(3 * 0.4rem);
  }
}
